<section class="o-section  t-section  o-section--footer">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Contact
          </h2>
          <div class="o-content__body  o-section__description">
            Call me, maybe.
          </div>
        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  ">

        <div class="c-footer__contact">

          <%= render partial: "contact_information" %>

        </div><!-- /c-footer__contact -->

        <hr class="c-footer__contact-divider" />

        <%= render partial: "name_and_media" %>

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->