<div class="c-header__top">

  <ul class="c-header__social-buttons  c-social-buttons">
    <% @accounts.each do |element| %>
      <li class="a-header">
        <a href="<%= element[:link] %>" target="_blank" class="c-social-button  t-social-button">
          <i class="fa  fa-lg  <%= element[:fa_icon] %>"></i>
        </a>
      </li>
    <% end %>
  </ul><!-- /c-header__social-buttons -->


  <div class="c-header__brand">
    <div class="c-brand">
      <h1 class="c-brand__title  t-title">
                    <span class="c-brand__sizer">
                        <span class="a-header  c-brand__first-word  t-title__first-word">
                            <%= @first_name %>
                        </span>
                        <span class="a-header  c-brand__second-word  t-title__second-word">
                            <%= @last_name %>
                        </span>
                    </span>
      </h1>

    </div><!-- /c-brand -->

  </div><!-- /c-header__brand -->

</div><!-- /c-header__top -->