<section class="o-section  t-section  ">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Profiles
          </h2>
          <div class="o-content__body  o-section__description">
            Busy as usual.
          </div>
        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  ">

        <div class="o-grid">
          <% @profiles.each do |element| %>
            <div class="o-grid__col-xl-4  o-grid__col-sm-6">
              <div class="o-content">
                <%= link_to element[:link], class: "t-link-container" do %>
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-profile__icon">
                        <i class="fa  fa-lg  <%= element[:icon] %>"></i>
                      </div>
                    </div>
                    <div class="o-media__body  o-content__body">
                      <h3 class="t-link-container__item">
                        <%= element[:name] %>
                      </h3>
                      <p>
                        <%= element[:description] %>
                      </p>
                    </div>
                  </div><!-- /o-media -->
                <% end %>
              </div><!-- /o-content -->
            </div><!-- /o-grid__col -->
          <% end %>
        </div><!-- /o-grid -->

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->